<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidevils.algodroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlgoDroid">
        <activity android:name=".algorithm.CorrelationActivity"></activity>
        <activity android:name=".algorithm.DistanceMatrixActivity" />
        <activity android:name=".algorithm.ZScoreActivity" />
        <activity android:name=".common.ForgotPasswordActivity" />
        <activity android:name=".common.RegisterActivity" />
        <activity android:name=".common.LoginActivity" />
        <activity
            android:name=".algorithm.FivePointSummaryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".SampleActivity" />
        <activity
            android:name=".algorithm.KMeanClusterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".algorithm.ConfusionMatrixActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".course.DataMiningActivity" />
        <activity android:name=".common.CourseActivity" />
        <activity android:name=".common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>